{% extends "base.html" %}

{% block title %}{{ super() }} - Contact{% endblock %}

{% block content %}
    <div class="container">
        <h1>Contact</h1>
        <dl class="row">
            <dt class="col-sm-3">Professor</dt>
            <dd class="col-sm-9">Denis Rinfret</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9"><a href="mailto:denis.rinfret@concordia.ca">mailto:denis.rinfret@concordia.ca</a> </dd>

            <dt class="col-sm-3">Office</dt>
            <dd class="col-sm-9">EV3.217</dd>

            <dt class="col-sm-3">Office Hours</dt>
            <dd class="col-sm-9">To be announced (probably Wednesday and/or Friday morning)</dd>
        </dl>
    </div>
{% endblock %} <!-- content -->